<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <connectionStrings>
    <add name="serviceConnection" connectionString="Server=cd713c87-fc3d-4e38-a321-a41b0110a1ab.sqlserver.sequelizer.com;Database=dbcd713c87fc3d4e38a321a41b0110a1ab;User ID=mkmkemlbbvayvwup;Password=r4fvczhipub7aypnWXji6w2oeqNajq5DSWQPRLwcpvjYBCbKJVibRNM4cZrUUh78;" />
    <add name="SurveillanceServices.Properties.Settings.SQLSERVER_CONNECTION_STRING"
        connectionString="Server=cd713c87-fc3d-4e38-a321-a41b0110a1ab.sqlserver.sequelizer.com;Database=dbcd713c87fc3d4e38a321a41b0110a1ab;User ID=mkmkemlbbvayvwup;Password=r4fvczhipub7aypnWXji6w2oeqNajq5DSWQPRLwcpvjYBCbKJVibRNM4cZrUUh78;" />
  </connectionStrings>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="SurveillanceServices.surveillance"  >
        <endpoint address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="web"
                  contract="SurveillanceServices.Isurveillance"

                   />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding"
                      address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
</configuration>
