<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <connectionStrings>
    <add name="serviceConnection" connectionString="Server=46421bc1-7e2e-4952-a5c8-a5330100cd9d.sqlserver.sequelizer.com;Database=db46421bc17e2e4952a5c8a5330100cd9d;User ID=przwaebalaqfvlwl;Password=V5xq6zTYcvYQwbFV5H4BZwsXAYENBkMfVzBS3c7j6fYMtwMyBZpqEyKxKHWf3fvZ;" />
    <add name="SurveillanceServices.Properties.Settings.SQLSERVER_CONNECTION_STRING"
        connectionString="Server=46421bc1-7e2e-4952-a5c8-a5330100cd9d.sqlserver.sequelizer.com;Database=db46421bc17e2e4952a5c8a5330100cd9d;User ID=przwaebalaqfvlwl;Password=V5xq6zTYcvYQwbFV5H4BZwsXAYENBkMfVzBS3c7j6fYMtwMyBZpqEyKxKHWf3fvZ;" />
  </connectionStrings>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="SurveillanceServices.surveillance"  >
        <endpoint address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="web"
                  contract="SurveillanceServices.Isurveillance"

                   />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding"
                      address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
</configuration>
